* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.modal{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  width: 400px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
    transform: translate(-50%, -50%);
  gap: 10px;
  padding: 8px;
  border-radius: 8px;
}
.modal .header{
  font-size: 18px;
  font-weight: 600;
}
.modal .footer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}